body{
    font-family:Arial, Helvetica, sans-serif;
}
.tooltip {
    position: relative;
    display: inline-block;
}
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: rgb(245, 234, 204);
    color: rgb(124, 5, 5);
    text-align: left;
    border-radius: 6px;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;

    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  table{
    width: 100%;
    text-align: left;
    border-color:black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
  }
  thead{
    background-color: #000080;
    color:#fff;
    border-bottom: solid 3px black;
    padding: 10px;
  }
  tr:nth-child(even){
    background-color: #ddd;
  }
  #alianxa_group{
    background-color: #9ac46a;
    color:#fff;
    border-bottom: solid 3px black;
    padding: 10px; 
  }
  .mini 
  {
    font-size: 10px;
    /*display: block;*/
    float: left;
    width: 110px;
  }
  .valor_remision
  {
    width: 110px;
    text-align: right;
    padding: 0%;
    float: left;
  }

  .valor_transaccion
  {
    width: 110px;
    text-align: left;
    padding: 0%;
    display: block;
    float: left;
  }

  .bank 
  {
color: rgb(16, 121, 6);
font-weight:bold;
  }

  .cash 
  {
color: rgb(14, 6, 121);
font-weight:bold;
  }
  
  